name: publish
on:
  create:
    tags:
      - "v*.*.*"
  
jobs:
  build:
    name: Build and Publish
    if: ${{ StartsWith(github.ref, 'refs/tags/') }}
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v2
    
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 5.0.x
        
    #- name: Restore dependencies
    #  run: dotnet restore
      
    - name: dotnet Publish
      run: |
        echo ${{ github.ref }}      
        dotnet publish Milki.Extensions.MixPlayer --no-self-contained --configuration Release --output ci-publish-Milki.Extensions.MixPlayer
        
    - name: action-minver
      uses: thefringeninja/action-minver@2.0.0-preview1
      id: version
      with:
        tag-prefix: v
        minimum-major-minor: 1.0
        
    - name: Pack via 7z
      if: ${{ success() && startsWith(github.ref, 'refs/tags/') }}
      run: |
        mkdir -p ./ci-pack/
        7z a "./ci-pack/Milki.Extensions.MixPlayer-v${{ steps.version.outputs.version }}.7z" "./ci-publish-Milki.Extensions.MixPlayer/*" -r
      
    - name: Create a new GitHub release if a new tag is pushed
      uses: softprops/action-gh-release@v1
      if: ${{ success() && startsWith(github.ref, 'refs/tags/') }}
      env:
        GITHUB_TOKEN: ${{secrets.GITHUB_TOKEN}}
      with:
        name: v${{ steps.version.outputs.version }}
        prerelease: true
        draft: false
        files: |
          ./ci-pack/Milki.Extensions.MixPlayer-v${{ steps.version.outputs.version }}.7z

    - name: Nuget Publish Milki.Extensions.MixPlayer
      uses: brandedoutcast/publish-nuget@v2.5.2
      with:
        PROJECT_FILE_PATH: Milki.Extensions.MixPlayer/Milki.Extensions.MixPlayer.csproj
        VERSION_STATIC: ${{ steps.version.outputs.version }}
        NUGET_KEY: ${{secrets.NUGET_API_KEY}}
        TAG_COMMIT: false
